# Userfile
*.cyprj.*
*.cywrk*

# Miscellaneous files
*.cycdx
*.gsvd
*.html
*.pdf
*.rpt
*CLEAN.log
*BUILD.log
*.cyfit
*/ComponentUpdateLog.txt

# Folders
*WS2812.cydsn/Export/
*WS2812.cydsn/codegentemp/
*WS2812.cydsn/CortexM*
*WS2812.cydsn/Debug/
*WS2812.cydsn/Generated_Source/